name: Python Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  aws:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.x']

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        cd AWS
        python -m pip install -r requirements.txt
        pip install flake8 pylint bandit
    - name: Lint with flake8
      run: |
        cd AWS
        flake8 aws_cspm_benchmark.py
    - name: Lint with pylint
      run: |
        cd AWS
        pylint aws_cspm_benchmark.py
    - name: Lint with bandit
      run: |
        cd AWS
        bandit  -l -i -r .

  azure:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.x']
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        cd Azure
        python -m pip install -r requirements.txt
        pip install flake8 pylint bandit
    - name: Lint with flake8
      run: |
        cd Azure
        flake8 azure_cspm_benchmark.py
    - name: Lint with pylint
      run: |
        cd Azure
        pylint azure_cspm_benchmark.py
    - name: Lint with bandit
      run: |
        cd Azure
        bandit  -l -i -r .

  gcp:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.x']
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        cd GCP
        python -m pip install -r requirements.txt
        pip install flake8 pylint bandit
    - name: Lint with flake8
      run: |
        cd GCP
        flake8 gcp_cspm_benchmark.py
    - name: Lint with pylint
      run: |
        cd GCP
        pylint gcp_cspm_benchmark.py
    - name: Lint with bandit
      run: |
        cd GCP
        bandit  -l -i -r .
